[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "third_party/xschem2spice"]
	path = third_party/xschem2spice
	url = https://github.com/sifferman/xschem2spice.git
[submodule "third_party/zstd"]
	path = third_party/zstd
	url = https://github.com/facebook/zstd.git
[submodule "third_party/ngspice"]
	path = third_party/ngspice
	url = https://github.com/sifferman/ngspice.git
	branch = tran-init-optimizations
[submodule "third_party/gut"]
	path = third_party/gut
	url = https://github.com/bitwes/Gut.git
